GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_FROM=SummitCleanerllc@gmail.com
NOTIFICATION_EMAIL=SummitCleanerllc@gmail.com
GMAIL_SCOPE=https://www.googleapis.com/auth/gmail.send
GOOGLE_SHEETS_CLIENT_EMAIL=contact-form-data@summit-solution-website.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=19ybUxFyJRQkrdaJQU1O9dgkqay18lSfnTbD4o0AkbYw
GOOGLE_SHEETS_TAB_NAME=Leads
